$highlight-color:#2d8cf0;
$white:#fff;
$bgColor:#f8f8f8;
$agColor:#f0f0f0;
$gray:#eee;
$grayDeep:#aaa;
$modelColorOne:#7AC8CC;
$modelColorTwo:#E7543D;
$modelColorThree:#DE4FA1;
$modelColorFour:#8D6FCD;
$modelColorFive:#8BD623;
$transColor:rgba(0,0,0,.7);

$fontColor:#555;
$titleColor:#566573;
$tipColor:#748594;

$qqColor:#1296DB;
$weiXinColor:#07AF12;
$emailColor:#FF991A;
$phoneColor:#ed4014;

$borderColor: #1abc9c;
$borderShadowColor:rgb(26, 188, 156);

ul,li{
    list-style: none;
}
p{
   margin: 0;
   padding: 0;
}